@model IEnumerable<OnlineServices.Common.EvaluationServices.TransfertObjects.FormTO>

@{
    ViewData["Title"] = "Forms";
}

<h1>All Forms</h1>

<table class="table table-bordered">
    <caption>
        <h5>Forms</h5>
    </caption>

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nom</th>
            <th>Naam</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.Id</td>
                <td>@form.Name.English</td>
                <td>@form.Name.French</td>
                <td>@form.Name.Dutch</td>
                <td>@Html.ActionLink("Edit", "GetFormById", null, new { id = form.Id }, new { @class = "btn btn-primary tbn-sm" })</td>
                <td>@Html.ActionLink("Delete", "DeleteFormById", null, new { id = form.Id }, new { @class = "btn btn-primary tbn-sm" })</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Add Form", "AddForm", null, null, new { @class = "btn btn-primary tbn-sm" })

