@using OnlineServices.Common.EvaluationServices.Enumerations
@model OnlineServices.Common.EvaluationServices.TransfertObjects.FormTO

@{
    ViewData["Title"] = "Form " + @Model.Name.English;
}

<h1>Form @Model.Name.English</h1>


<table class="table table-bordered">
    <caption>
        <h5>Form</h5>
    </caption>

    <thead>
        <tr>
            <th>Position</th>
            <th>English</th>
            <th>Francais</th>
            <th>Dutch</th>
            <th>Type</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var question in Model.Questions.OrderBy(q => q.Position))
        {
            bool isProposition = (question.Type == QuestionType.SingleChoice || question.Type == QuestionType.MultipleChoice);
            <tr>
                <td>@question.Position </td>
                <td>@question.Libelle.English</td>
                <td>@question.Libelle.French</td>
                <td>@question.Libelle.Dutch</td>
                <td>@question.Type</td>
                @if (isProposition)
                {
                    <td>@Html.ActionLink("Add proposition", "AddProposition", null, new { id = question.Id }, new { @class = "btn btn-primary tbn-sm" })</td>
                }
            </tr>

            @if (isProposition)
            {
                foreach (var type in question.Propositions)
                {
                    <tr>
                        <td></td>
                        <td>@type.Position</td>
                        <td>@type.Libelle.English</td>
                        <td>@type.Libelle.French</td>
                        <td>@type.Libelle.Dutch</td>
                        <td>@Html.ActionLink("Delete", "RemovePropositionById", null, new { id = type.Id }, new { @class = "btn btn-primary tbn-sm" })</td>

                    </tr>
                }
            }
        }
    </tbody>

</table>

@Html.ActionLink("Add Question", "AddQuestion", null, new { id = Model.Id }, new { @class = "btn btn-primary btn-md" })
@Html.ActionLink("Back", "GetAllForms", null, null, new { @class = "btn btn-primary btn-md" })