
@{
    ViewData ["Title"] = "All Questions";
}
@using OnlineServices.Common.EvaluationServices.Enumerations

@model IEnumerable<OnlineServices.Common.EvaluationServices.TransfertObjects.QuestionTO>

<table class="table table-bordered">
    <caption>
        <h5>Questions</h5>
    </caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Form</th>
            <th>Position</th>
            <th>Type</th>
            <th>Name</th>
            <th>Nom</th>
            <th>Naam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.Id</td>
                <td>@question.Form.Id</td>
                <td>@question.Position</td>
                <td>@question.Type</td>
                <td>@question.Libelle.English</td>
                <td>@question.Libelle.French</td>
                <td>@question.Libelle.Dutch</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = question.Id })</td>

                @if (question.Type == QuestionType.MultipleChoice || question.Type == QuestionType.SingleChoice)
                {
                    <td>@Html.ActionLink("Show Propositions", "GetByQuestionId", "QuestionProposition", new { id = question.Id })</td>
                }

            </tr>
        }
    </tbody>
</table>