
@{ViewData ["Title"] = "All Proposition";}

@model IEnumerable<OnlineServices.Common.EvaluationServices.TransfertObjects.QuestionPropositionTO>

<table class="table table-bordered">
    <caption>
        <h5>Question Propositions</h5>
    </caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Position</th>
            <th>Question</th>
            <th>Name</th>
            <th>Nom</th>
            <th>Naam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questionProposition in Model)
        {
            <tr>
                <td>@questionProposition.Id</td>
                <td>@questionProposition.Position</td>
                <td>@questionProposition.Question.Position</td>
                <td>@questionProposition.Libelle.English</td>
                <td>@questionProposition.Libelle.French</td>
                <td>@questionProposition.Libelle.Dutch</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = questionProposition.Id })</td>
            </tr>
        }
    </tbody>
</table>
